
.buttonActionArea > div >a{
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(59, 164, 183, 0.6);
}
.buttonActionArea > div >h2 > a{
  color: #FFFFFF;
  text-decoration: none;
}
#welcome {
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(73, 21, 215, 0.6);
  border: 1px solid #7245ed;
  color: #FFFFFF;
}
