#welcome {
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(73, 21, 215, 0.6);
  border: 1px solid #7245ed;
  color: #FFFFFF;
  margin-bottom: 50px;
};

#signUpThanks{
  text-align: center;
  margin-top: 200px;
}

#signUpThanks > h1{
  text-align: center;
  color: white;
}
