/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cfe0e8;
}

li {
    float: left;
}

li a {
    display: block;
    color: #3b3a30;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navBar {
  box-shadow: 0px 5px 5px #363636;
}

li a:hover:not(.active) {
    background-color: #c0ded9;
}

.active {
    background-color: #87bdd8;
}*/

<!-- <ul class="navBar">
  <li><a class="active" href="index.html" id="home">Home</a></li>
  <li><a href="mypicks.html" id="mypick">My Pick</a></li>
  <li><a href="makeapool.html" id="makeapool">Make A Pool</a></li>
  <li><a href="poolstandings.html" id="poolstandings">Pool Standings</a></li>
  <li><a href="about.html" id="about">About</a></li>
</ul> -->
